<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">        
      <a href="https://uefconnect.uef.fi/henkilo/juha.halme/" style="text-decoration: none"><span class="icon-UEF_Favicon"><span class="path1"></span><span class="path2"></span></span>
      <a href="https://scholar.google.com/citations?user=h7z9JdIAAAAJ&hl=en" class="ms-3 fs-5"><i class="ai ai-google-scholar"></i></a>
      <a href="https://uef.academia.edu/JuhaHalme" class="ms-3 fs-5"><i class="ai ai-academia"></i></a>
      <a href="https://www.linkedin.com/in/juha-halme-a030324a" class="ms-3 fs-5"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/juha_m_halme" class="ms-3 fs-5"><i class="fab fa-twitter"></i></a>
      <a href="https://orcid.org/0000-0001-9637-6085" class="ms-3 fs-5"><i class="fab fa-orcid"></i></a>
      <a href="https://www.researchgate.net/profile/Juha_Halme" class="ms-3 fs-5"><i class="fab fa-researchgate"></i></a>    
      <a href="https://github.com/juhahalme/" class="ms-3 fs-5"><i class="fab fa-github"></i></a>    
    </div>
  </div>
</footer>
